<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>search bar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A91C10951F769B9700EBD092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91C10AC1F769B9700EBD092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91C10B71F769B9700EBD092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
